// Override al-folio gem variables
// $purple-color: #8250df !default;
// $global-theme-color: #8250df !default;
// $global-hover-color: #663399 !default;

// Layout variables
$max-content-width: 930px !default;

// Teal / Light Blue theme variables
$teal-color: #00838f !default;
$global-theme-color: #00838f !default;
$global-hover-color: #006064 !default;